
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
}

.logo {
	height: 9em;
}

img {
	display: block;
	margin: auto;
}

h2 {
	/*font-family: 'Montserrat', sans-serif;*/
	text-align: center;
}

.scoreStyle {
	text-align: center;
}

.scoreStyle h2 {
	display: inline;
}

.kimpics {
	background-color: black;
}

.kimpics img {
	/*height: 20em;*/
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
		border: none;
		-webkit-filter: grayscale(100%)

}

.content {
    width: 300px;
    height: 300px;
		margin: auto;
}

.kimpics img:hover {
	-webkit-filter: grayscale(0%)
}

.results{
	text-align: center;
}

.buttonArea {
	text-align: center;
}

#nextBtn {
	margin-left: 1.5em;
}
button {
	background-color: #669999;
  color: black;
	border-style: none;
	font-size: 20px;
	padding: 0.5
}

button:hover {
	background-color: #996666;
	color: white;
}

.results h1 {
	text-align: center;
	font-size: 10em;
	margin: 0.1em;
}

.winner {
	color: #669999;
}

.loser {
	color: #996666;;
}

[class*='col-'] {
	float: left;
  min-height: 1px;
	padding-right: 20px; /* column-space */
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding-top: 20px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}


.col-1-2, .col-6-12 {
	width: 50%;
}


.push-1-2, .push-6-12 {
	margin-left: 50%;
}


@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px; /* grid-space to left */
		padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin: 10px 0;
		padding-left: 0;
		padding-right: 10px; /* column-space */
	}

	/* Mobile Layout */

	[class*='mobile-col-'] {
		float: left;
		margin: 0 0 10px;
		padding-left: 0;
		padding-right: 10px; /* column-space */
		padding-bottom: 0;
	}

	.mobile-col-1-2, .mobile-col-6-12 {
		width: 50%;
	}

	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}
